
.navbar {
    background-color: #333;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-family: PT serif;
}

/* Style the links inside the navigation bar */
.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 7px 8px;
    text-decoration: none; 
    font-family: PT serif;
    font-style: italic;
}

/* Add a color to the active/current link */
.navbar a.active {
    color: #7e967c;
}    

/* general rules for the body*/
body{
    background-color: #435549;
    font-family: PT serif;
    font-style: italic;
}

.forside{
    background-image: url(imgs/forside.png);
      
/* Background image is centered vertically and horizontally at all times */
    background-position: center center;
  
/* Background image doesn't tile */
    background-repeat: no-repeat;
  
/* Background image is fixed in the viewport so that it doesn't move when the content's height is greater than the image's height */
    background-attachment: fixed;
  
/* This is what makes the background image rescale based on the container's size */
    background-size: cover;    
}

  a{
    font-family: PT serif;
    color: white;
    text-decoration: none;
}    

 .top-left {
    position: fixed;
    top: 0;
    left: 0;
    margin-top: 3em;   
}   
    
    
.top-right{
    position: fixed;
    top: 0;
    right: 0;
    margin-top: 3em;    
}

    
.bottom-left{    
    position: fixed;
    bottom: 0;
    left: 0;
    margin-bottom: 3em;          
}

    
.bottom-right{   
    position: fixed;
    bottom: 0;
    right: 0;
    margin-bottom: 3em;   
}

/* css for profile page*/
.profil img {
    width: 50%;
    height: 50%;
    margin: 20px auto 20px auto;
}

.profil {
        text-align: center;
        color: white;
}

.overskrift {
        text-align: center;
        color: white;
        padding-top: 20px;
        padding-bottom: 15px;
}

.login-page {
    padding-right: 30px;
    padding-left: 30px;
    text-align: center;
}

.form-check-label {
    color: #FFFFFF;
    font-size: 10px;
}

.btn-link {
    color: #FFFFFF;
    font-size: 15px;
}

.form {
    color: #FFFFFF;
    font-size: 0.6em;
    padding-top: 12px;
}

button {
    color: white;
    background-color: #7e967c;
    padding: 8px 50px 8px 50px;
    font-style: italic;
    font-size: 20px;
}

.produktknap {
    color: white;
    background-color: #7e967c;
    padding: 3px 8px 3px 8px;
    font-style: italic;
}



/* iPhone 5 size*/
@media screen and (min-width: 319px){

body{
    font-size: 25px;       
}
    
#logo {
        width: 80px;
        height: 80px;
}

.forside {
    background-image: url(imgs/forside-ipad.png);
    background-repeat: no-repeat;
} 
    
 .navbar a{
    font-size: 10px;
    }
} /* ends the @media*/

/* iPhone 6 size*/  
@media screen and (min-width: 767px){
    
body {
    font-size: 30px;     
}

#logo {
    width: 150px;
    height: 150px;   
}
    
.forside {
    background-image: url(imgs/forside-ipad.png);
    background-repeat: no-repeat; 
} 
    
.navbar a{
    font-size: 20px;
}
} /* ends the @media*/

/* iPad size*/
@media screen and (min-width: 1023px){
    
body{
    font-size: 40px;
}

#logo {
    width: 200px;
    height: 200px;
}
    
.forside {
    background-image: url(imgs/forside-ipad-pro.png);
    background-repeat: no-repeat; 
} 
    
 .navbar a{
    font-size: 30px;
}
} /* ends the @media*/

    